{{ define "main" }}

<div class="section">
    <div class="container">
        {{ range .service_list }}
            <div class="columns">
                <div class="column">
                    <div class="service-container">
                        <h1 class="title is-4">{{ .heading }}</h1>
                        <p>{{ .body_text }}</p>
                    </div>
                </div>
                <div class="column">
                    <div class="img-container" style="background:url({{ .image }}) no-repeat center;background-size:cover">
                        
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>

{{ end }}