div.mt-6 {
    margin-top: 10rem!important;
}

img.image {
    border-radius: 3px;
}

div.divider {
    width: 50px;
    height: 1px;
    background: #e1e1e1;
    display: inline-block;
    vertical-align: middle;
}

div.divider-icon {
    display: inline-block;
    margin: 0 10px;
}

i.fa-leaf {
    color: #00aeef;
}

div.section {
    padding: 3rem 1.5rem;
}
/* DEFAULT LIST.HTML */

button.button {
    border: 0!important;
    border-radius: 0;
    color: #fff;
    transition: all .2s ease;
    padding: 0 20px;
}

address {
    font-style: normal;
}

nav.breadcrumb.is-small li a {
    text-transform: capitalize;
    color: #7c7c7c;
}

.button.is-hovered, .button:hover {
    color: #ccc!important;
    transition: all .2s ease;
}

.default-list {
    padding: 30px;
}

.default-list a {
    display: block;
    width: 100%;
    height: 100%;
    color: #007bb6;
}

/* FORMS */
input.input,
textarea.textarea {
    border-radius: 0;
}



/* SHARE BUTTONS */

div#share-buttons i {
    padding: 5px;
    font-size: 15px;
}

/* SLIDESHOW */

/* LISTING CAROUSEL */

.slick-prev, .slick-next {
    z-index: 1000;
}


.slick-prev::before {
    font-family: FontAwesome!important;
    content:  "\f104"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}  
.slick-next::before {
    font-family: FontAwesome!important;
    content:  "\f105"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}      


span.status {
    background: #00AFFF;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

span.featured {
    background: #E28429;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

.card-footer-item {
    font-size: 12px;
    color: #242429;
}

.listing-bottom {
    padding: 1rem;
}

.listing-bottom ul li {
    color: #fff;
}

.list-description {
    font-size: 18px;
    font-weight: 500;
}

.listing-address {
    font-size: 13px;
}

.list-pricing {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    padding: 5px 7px;
}

a.main-btn {
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
    border: 0;
}

body {
    background: #fbfbfb;
    color: #303030;
    height: 100%;
}

main {
    padding: 50px 0px;
}

body {
    overflow: hidden;
}

body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle {
    font-family: 'Rubik', sans-serif;
}

.fa-facebook-f {
    color: #506dab!important;
}

i.fab.fa-instagram {
    color: #517fa4!important;
}

.fa-linkedin-in {
    color: #007bb6!important;
}

.fa-pinterest-p {
    color: #cb2027!important;
}

.fa-twitter {
    color: #00aced!important;
}

.fa-youtube {
    color: #be0303;
}

p,
li,
a {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

a {
    transition: .2s;

}

p {
    line-height: 2;
}

/* HOME SECTIONS */

.home-featured-sections .title {
    line-height: 2;
    font-size: 2rem;
    font-weight: 400;

}

a.hero-button {
    padding: 30px 50px!important;
    font-size: 1rem;
    border-radius: 0;
    background-color: #FFCC00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
}



a.hero-button:hover {
    background: white;
}

/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #00aeff;
}

.pagination li:hover a {
    background: #DCE0E0;
    transition: all .3s ease;
}

ul.pagination {
    justify-content: center;
}

li.page-item {
    padding: 2px;
    font-size: 14px;
}

.pagination-next,
.pagination-previous {
    background: white;
    border-color: #fff!important;
}

li.active a {
    background: #00aeff;
    color: #ffffff;
}

.disabled {
    display: none;
}

/* NAV */

@media screen and (max-width: 1087px){

    .right-nav {
        display: none;
    }

    div.home-slide.slick-initialized.slick-slider {
        top: -130px;
    }
    

    span.navbar-burger {
        transition: all .2s ease;
        margin-top: 10px;
    }
    
    .navbar-menu.is-active {
        display: block;
        transition: all .3s ease;
        position: absolute;
        right: 0;
        top: -20px;
        height: 105vh;
    }

    .navbar-burger {
        z-index: 1000;
    }
    
    div.navbar-menu {
        display: block;
        position: absolute;
        right: -1000px;
        transition: all .3s ease;
        padding: 40px;
        height: 105vh;
        top: -20px;
    }

    .head-nav li a.nav-item,
    .head-nav a.parent-drop {
        color: #000!important;

    }

    div#navbarMenuHeroC ul:first-child {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    div#navbarMenuHeroC {
        padding: 40px 60px 0 60px;
        position: fixed;
        overflow-y: auto;
    }

    ul.head-nav li {
        padding: 10px;
    }

    .sub.sub-active-menu {
        max-height: 600px;
        transition: max-height .3s ease;
        background: #7c7c7c;
        /* padding: 10px;
        margin-top: 15px; */
    }
    
    .sub {
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease;
    }


}



@media screen and (min-width:1087px) {

/* NEW */

header.navbar>.container {
    align-items: center;
}

div.right-nav {
    position: absolute;
    right: 0;
}

div.right-nav ul li {
    display: inline-block;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}


div.right-nav img {
    position: relative;
    top: 4px;
    margin: 0 8px;
}

a.booking {
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 3px;
}

/* END NEW */

    .head-nav li {
        display: inline-block;
        /* padding: 0 10px; */
    }

    ul.sub {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all .2s ease;
        width: 250px;
    }


    .sub-menu:hover ul.sub {
        visibility: visible;
        background: #fff;
        margin-top: 15px;
        opacity: 1;
        transition: all .2s ease;
    }



    /* SUBSUB */

    a.parent-subsub {
        display: block;
    }

    ul.subsub {
        position: absolute;
        display: none;
        transition: all .2s ease;
        left: 251px;
        top: 0;
        width: 250px;
    }

    .subsub-menu:hover ul.subsub {
        display: block;
        background: #fff;
        transition: all 2s ease;
    }

    .subsub-menu:hover ul.subsub {
        visibility: visible;
        background: #fff;
        /* SUBSUB margin-top: 38px; */
        opacity: 1;
        transition: all 2s ease;
        z-index: 10000;

    }

    li.subsub-menu a {
        padding: 10px;
    }

    /* END SUBSUB */

    .dropdown-i {
        transition: all .2s ease;
        padding: 0 5px;
    }

    .sub-menu:hover .dropdown-i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg );
        transition: all .4s ease;
    }

    .sub li {
        /* padding-top: 10px;
        padding-bottom: 10px; */
        display: block;
        border-top: 1px solid rgba(0,0,0,.15);
        transition: all 3s ease;
        word-break: break-word;
    }

    /* .sub li:hover {
        padding-left: 20px;
        transition: all .3s ease;
        background: #e8e8e8;
    } */

    .head-nav a.nav-item,
    .head-nav a.parent-drop {
        /* padding: 40px 0; */
        color: white;
    }
}

/* ALL SCREEN SIZE MENU */
header.navbar {
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

header.animate__fadeInDown {
    background-color: #fff!important;
    transition: all .2s ease-out;
}

header.animate__fadeInDown > .container > .navbar-brand > #navbarMenuHeroC > div > ul > li > a.nav-item,
header.animate__fadeInDown > .container > .right-nav > ul > li > a
 {
    color: black!important;
}

header.animate__fadeInDown > .container > .right-nav > ul > li > a.booking {
    border: 2px solid #00aeef;
    color: #00aeef!important;
}

.scroll-logo {
    display: none;
}


a.navbar-item img {
    max-height: 6rem;
}

a.nav-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.navbar-end {
    align-items: center!important;
}


.sub-menu:hover .sub-active-menu {
    max-height: 600px;
    transition: max-height .3s ease;
}

.navbar-brand h1 {
    font-size: 1.3em;
    color: white;
}

/* HERO CONTAINER  */

section.hero__container {
    background-size: cover;
}

.hero-content {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

div.hero-body {
    left: 0;
    right:0;
    top: 30%;
}

.hero-body h1.hero-title {
    color: rgb(0, 0, 139);
    line-height: 2;
    font-family: "Nothing You Could Do", cursive;
    font-size: 67px;
}

.hero-body h2.hero-subtitle {
    color: rgb(0, 0, 139);
    font-size: 2rem;
    font-weight: 200;
}

@media screen and (max-width: 768px){
    .hero-body h1.hero-title {
        font-size: 3rem;
    }

    .hero-body h2.subtitle {
        font-size: 18px;
    }

    a.hero-button {
        font-size: .5rem;
    }
}

/* IMAGE BOXES */

.image-box-one,
.image-box-two,
.image-box-three {
    padding: 150px 20px;
    border-radius: 3px;
    transition: all .8s ease;
}

.image-container {
    overflow: hidden;
}

.image-box-one:hover,
.image-box-two:hover,
.image-box-three:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: all .8s ease;
}

/* IMAGE OVERLAY HOME */

div.image-overlay-text {
    background: #FFCC00;
    padding: 61px;
    box-shadow: 4px 6px 20px #b9b9b9;
}

a.anchor-image-overlay {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: #5c5c5c;
    transition: color .2s ease;

}

@media screen and (min-width:1087px){
    div.image-overlay-text {
        position: relative;
        right: 70px;
    }
}

a.anchor-image-overlay:hover {
    color: #000;
    transition: color .2s ease;
}

/* PRICE PREVIEW */

@media screen and (min-width:1080px){
    div.home-price-container-one {
        position: relative;
        left: 100px;
        padding: 50px;
        z-index: 100;
    }
    
    div.home-price-container-two {
        position: relative;
        right: 100px;
        padding: 50px;
        z-index: 100;
    }
}

span.price-preview {
    color: #00aeef;
}

/* FOOTER */

.footer-image-wrapper {
    padding: 200px 0px;
}

.footer-links ul li {
    display: inline-block;
    padding: 0 10px;
}

.footer-links a,
div.bottom-credit a {
    color: #939393;
}