/* NESTED */
.navbar-link:not(.is-arrowless)::after {
    border-color: #ccc!important;
    display: none!important;
}

a.navbar-link:not(.is-arrowless) {
    padding-right: .6rem;
}

.nested.dropdown:hover > .dropdown-menu {
  display: block;
}
.nested.dropdown .dropdown-menu {
  top: -15px;
  margin-left: 100%;
}
.nested.dropdown .dropdown-trigger button::after {
  content: ">";
}
.nested.dropdown .dropdown-trigger button {
  padding: 0px 0px;
  border: 0px;
  font-size: 14px;
  font-weight: 400;
  height: 2em;
}

/* COLOR NAV */

div a.navbar-link:hover {
    color: #00aced!important;
    background: none!important;
}

div a.navbar-item,
div a.navbar-link,
div.dropdown-content a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


div.mt-6 {
    margin-top: 10rem!important;
}

img.image {
    border-radius: 3px;
}

div.divider {
    width: 50px;
    height: 1px;
    background: #e1e1e1;
    display: inline-block;
    vertical-align: middle;
}

div.divider-icon {
    display: inline-block;
    margin: 0 10px;
}

i.fa-leaf {
    color: #00aeef;
}

div.section {
    padding: 3rem 1.5rem;
}
/* DEFAULT LIST.HTML */

button.button {
    border: 0!important;
    border-radius: 0;
    color: #fff;
    transition: all .2s ease;
    padding: 0 20px;
}

address {
    font-style: normal;
}

nav.breadcrumb.is-small li a {
    text-transform: capitalize;
    color: #7c7c7c;
}

.button.is-hovered, .button:hover {
    color: #ccc!important;
    transition: all .2s ease;
}

.default-list {
    padding: 30px;
}

.default-list a {
    display: block;
    width: 100%;
    height: 100%;
    color: #007bb6;
}

/* FORMS */
input.input,
textarea.textarea {
    border-radius: 0;
    box-shadow: none;
    padding: 25px;
}

button.button.submit {
    background: #FFCC00;
    text-transform: uppercase;
    padding: 25px 50px;
    font-weight: 500;
    border-radius: 4px;
}

div.control button.button.submit:hover {
    background: #ecbd03;
    color: #fff!important;
}


/* SHARE BUTTONS */

div#share-buttons i {
    padding: 5px;
    font-size: 15px;
}

/* SLIDESHOW */

/* LISTING CAROUSEL */

.slick-prev, .slick-next {
    z-index: 1000;
}


.slick-prev::before {
    font-family: FontAwesome!important;
    content:  "\f104"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}  
.slick-next::before {
    font-family: FontAwesome!important;
    content:  "\f105"!important;
    font-size: 28px!important;
    color: #007bb6!important;
}      


span.status {
    background: #00AFFF;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

span.featured {
    background: #E28429;
    font-size: 10px;
    line-height: 11px;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    padding: 3px 5px;
    color: #fff;
    border-radius: 2px;
}

.card-footer-item {
    font-size: 12px;
    color: #242429;
}

.listing-bottom {
    padding: 1rem;
}

.listing-bottom ul li {
    color: #fff;
}

.list-description {
    font-size: 18px;
    font-weight: 500;
}

.listing-address {
    font-size: 13px;
}

.list-pricing {
    font-size: 13px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    padding: 5px 7px;
}

a.main-btn {
    color: #fff;
    padding: 10px 40px;
    border-radius: 0;
    border: 0;
}

body {
    background: #fbfbfb;
    color: #303030;
    height: 100%;
}

main {
    padding: 50px 0px;
}

body {
    overflow: hidden;
}

body h1.title,
body h2.title,
body h3.title,
body h4.title,
body h5.title,
body h6.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.content a {
    color: #00aced;
}

body h1.subtitle,
body h2.subtitle,
body h3.subtitle,
body h4.subtitle,
body h5.subtitle,
body h6.subtitle {
    font-family: 'Roboto', sans-serif;
}

.fa-facebook-f {
    color: #506dab!important;
}

i.fab.fa-instagram {
    color: #517fa4!important;
}

.fa-linkedin-in {
    color: #007bb6!important;
}

.fa-pinterest-p {
    color: #cb2027!important;
}

.fa-twitter {
    color: #00aced!important;
}

.fa-youtube {
    color: #be0303;
}

p,
li,
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

a {
    transition: .2s;

}

p {
    line-height: 2;
}

/* HOME SECTIONS */

.home-featured-sections .title {
    line-height: 2;
    font-size: 2rem;
    font-weight: 400;

}

a.hero-button {
    padding: 30px 50px!important;
    font-size: 1rem;
    border-radius: 0;
    background-color: #FFCC00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1.5px;
}



a.hero-button:hover {
    background: white;
}

/* PAGINATION */

.pagination li a {
    transition: all .3s ease;
    color: #00aeff;
}

.pagination li:hover a {
    background: #DCE0E0;
    transition: all .3s ease;
}

ul.pagination {
    justify-content: center;
}

li.page-item {
    padding: 2px;
    font-size: 14px;
}

.pagination-next,
.pagination-previous {
    background: white;
    border-color: #fff!important;
}

/* li.active a {
    background: #00aeff;
    color: #ffffff;
} */

.disabled {
    display: none;
}

/* ALL SCREEN SIZE MENU */


/* header.navbar {
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

header.animate__fadeInDown {
    background-color: #fff!important;
    transition: all .2s ease-out;
}

header.animate__fadeInDown > .container > .navbar-brand > #navbarMenuHeroC > div > ul > li > a.nav-item,
header.animate__fadeInDown > .container > .right-nav > ul > li > a
 {
    color: black!important;
}

header.animate__fadeInDown > .container > .right-nav > ul > li > a.booking {
    border: 2px solid #00aeef;
    color: #00aeef!important;
} */

.scroll-logo {
    display: none;
}




a.navbar-item img {
    max-height: 6rem;
}

/* div > a.navbar-main,
div > a.navbar-second {
    color: #fff;
} */

a.nav-item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.navbar-end {
    align-items: center!important;
}


.sub-menu:hover .sub-active-menu {
    max-height: 600px;
    transition: max-height .3s ease;
}

.navbar-brand h1 {
    font-size: 1.3em;
    color: white;
}

/* HERO CONTAINER  */

div.home-slide {
    position: relative;
    top: -112px;
}

section.hero__container {
    background-size: cover;
}

.hero-content {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

div.hero-body {
    left: 0;
    right:0;
    top: 30%;
}

.hero-body h1.hero-title {
    color: rgb(0, 0, 139);
    line-height: 2;
    font-family: "Nothing You Could Do", cursive;
    font-size: 67px;
}

.hero-body h2.hero-subtitle {
    color: rgb(0, 0, 139);
    font-size: 2rem;
    font-weight: 200;
}

@media screen and (max-width: 768px){
    .hero-body h1.hero-title {
        font-size: 3rem;
    }

    .hero-body h2.subtitle {
        font-size: 18px;
    }

    a.hero-button {
        font-size: .5rem;
    }
}

/* IMAGE BOXES */

.image-box-one,
.image-box-two,
.image-box-three {
    padding: 150px 20px;
    border-radius: 3px;
    transition: all .8s ease;
}

.image-container {
    overflow: hidden;
}

.image-box-one:hover,
.image-box-two:hover,
.image-box-three:hover {
    transform: scale(1.1);
    overflow: hidden;
    transition: all .8s ease;
}

/* IMAGE OVERLAY HOME */

div.image-overlay-text {
    background: #FFCC00;
    padding: 61px;
    box-shadow: 4px 6px 20px #b9b9b9;
}

a.anchor-image-overlay {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    color: #5c5c5c;
    transition: color .2s ease;

}

@media screen and (min-width:1087px){
    div.image-overlay-text {
        position: relative;
        right: 70px;
    }

    a.booking {
        background: transparent;
        border-radius: 0;
        border: 2px solid #00aced;
        color: #00aced;
        border-radius: 5px;
    }
}

a.anchor-image-overlay:hover {
    color: #000;
    transition: color .2s ease;
}

/* PRICE PREVIEW */

/* @media screen and (max-width: 760px) {
    div.home-price-container-one {
        position: relative;
        top: 120px;
    }
} */

@media screen and (min-width:1080px){
    div.home-price-container-one {
        position: relative;
        left: 100px;
        padding: 50px;
        z-index: 100;
        margin-top: 10rem;
    }
    
    div.home-price-container-two {
        position: relative;
        right: 100px;
        padding: 50px;
        z-index: 100;
        margin-top: 10rem;
    }
}

span.price-preview,
.service-page-price {
    color: #00aeef;
}

.service-page-price {
    font-size: 20px;
}

/* DEFAULT PAGE */

div.avail {
    background: #FFCC00;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
    text-transform: uppercase;
}

div.avail p a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

a.learn-more {
    text-transform: uppercase;
    color: #666666;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

div.more-services {
    transition: all .3s ease-in-out;
    border-bottom: 0px solid #00AEEF;
}

div.more-services:hover {
    transform: translateY(-10px);
    transition: all .3s ease-in-out;
    border-bottom: 5px solid #00AEEF;
}

div.cta-banner {
    background: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

/* CTA PAGE */

.cta-page {
    background: #00AEEF;
    border-radius: 8px;
}

a.cta-btn {
    background: #FFCC01;
    color: #fff;
    padding: 20px 40px;
    border-radius: 3px;
}

/* FOOTER */

.footer-image-wrapper {
    padding: 200px 0px;
}

.footer-links ul li {
    display: inline-block;
    padding: 0 10px;
}

ul.footer-social li {
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px;
}

ul.footer-social li i {
    font-size: 20px;
}

ul.footer-contact li a {
    color: #838f97;
    font-family: 'Poppins', sans-serif;

}

ul.footer-contact li strong {
    color: #6a767e;
    text-transform: uppercase;
    margin-right: 20px;
}


ul.footer-contact li {
    padding-top: 15px;
    font-size: 16px;
    color: #838f97;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 15px;
    
}

.form-container.box {
    background: #F7F7F7;
    border-radius: 0;
}

.footer-links a,
div.bottom-credit a {
    color: #939393;
}
