{{ partial "head.html" . }}
{{ partial "multi.html" . }}

<div style="padding:150px 20px;background:linear-gradient(rgba(0,0,0,0.21),rgba(0,0,0,0)),url({{ if .Params.banner_image }}{{ .Params.banner_image }}{{ else }}{{ .Site.Data.design.banner.banner_image }}{{ end }}); background-size: cover;background-position: center" class="page-banner lax" data-lax-bg-pos-y="0 0, vh 200 500">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-2 has-text-white has-text-weight-light">{{ .Title }}</h2>
                </div>
            </div>
            <div class="columns" style="position: absolute; top: 255px;left:0;right:0">
                <div class="column is-half is-offset-one-quarter">
                    <div class="cta-banner" style="background: #fff;margin:0 auto">
                        <div class="left-avail has-text-centered">
                            <p>We’re open 7:00am – 7:00pm daily</p>
                        </div>
                        <div class="right-avail has-text-centered">
                            <p><a href="https://beautyhydration.myaestheticrecord.com/book/appointments" target="_blank">Check Availability</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "footer.html" . }}