{{ partial "head.html" . }}
{{ partial "navbar.html" . }}

<div style="padding:150px 20px;background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.8)),url({{ .Params.banner_image }}); background-size: cover;background-position: center" class="page-banner lax" data-lax-bg-pos-y="0 0, vh 200 100 ">
    <div class="section">
        <div class="container">
            <div class="columns has-text-centered">
                <div class="column">
                    <h2 class="title is-1 has-text-white has-text-weight-light">{{ .Title }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
{{ block "main" . }}

{{ end }}
</main>
{{ partial "footer.html" . }}