{{ define "main" }}

<div class="section">
    <div class="container">
        {{ range .Params.team }}
            <div class="columns pt-6">
                <div class="column is-4">
                    <img src="{{ .image }}" alt="" style="box-shadow: 2px 3px 20px #8f8f8f;border-radius:10px">
                </div>
                <div class="column">
                    <div class="content box pt-6 pb-6 pl-6 pr-6">
                        <h1 class="title is-4">{{ .title }}</h1>
                        <h4 class="subtitle is-6 pt-4" style="color:#00aced">{{ .subtitle }}</h4>
                        <p>{{ .bio | markdownify }}</p>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>

{{ end }}