<div class="cta-page pt-6 pb-6">
<div class="container">
    <div class="columns has-text-centered">
        <div class="column">
            <h2 class="title is-4 has-text-white">Book your service now!</h2>
        </div>
        <div class="column">
            <a href="/" class="cta-btn">Book Now</a>
        </div>
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content has-text-centered">
                        <h2 class="title is-2">Angry Lines</h2>
                        <a href="/">Learn More</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content has-text-centered">
                        <h2 class="title is-2">Angry Lines</h2>
                        <a href="/">Learn More</a>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="column">
                <div class="card">
                    <div class="card-image">
                      <figure class="image is-4by3">
                        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="content has-text-centered">
                        <h2 class="title is-2">Angry Lines</h2>
                        <a href="/">Learn More</a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>