<div class="pt-6 pb-6">
<div class="container cta-page pb-6 pt-6">
    <div class="columns has-text-centered">
        <div class="column">
            <h2 class="title is-4 has-text-white">Book your service now!</h2>
        </div>
        <div class="column">
            <a href="https://fhlny.myaestheticrecord.com/login" target="_blank" class="cta-btn">Book Now</a>
        </div>
    </div>
</div>
</div>
<div class="section">
    <div class="container">
        <div class="columns">
          {{ range last 3 (where $.Site.RegularPages "Type" "services") }}
          <div class="column more-services">
            <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    {{ range first 1 .Params.service_list }}
                    <img src="{{ .image }}" alt="Extra Services">
                  </figure>
                  {{ end }}
                </div>
                <div class="card-content">
                  <div class="content has-text-centered">
                    <h2 class="title is-4">{{ .Title }}</h2>
                    <a href="{{ .Permalink }}" class="learn-more">Learn More</a>
                  </div>
                </div>
              </div>
        </div>
          {{ end }}

        </div>
    </div>
</div>