<!-- Footer -->
<div style="clear:both"></div>
<footer class="footer site-footer" style="{{ safeHTMLAttr (printf "background-color: %s" .Site.Data.design.footer.footer_background_color) }}">
<div class="section">
  <div class="container">
    <div class="columns is-variable is-8">
      <div class="column" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>
        <a href="{{ .Site.BaseURL }}">
              {{ with .Site.Data.design.logo_and_title.logo}}
          <img src="{{ . }}" alt="{{ $.Site.Data.profile.company_name }}" width="200">
              {{ else }}
          <h1 class="title is-4 footer-logo-text"  {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>{{ .Site.Data.profile.primary_company_name }}</h1>
              {{ end }}
        </a>
        <p>{{ .Site.Data.design.footer.footer_bio }}</p>
        <em>{{ .Site.Data.profile.primary_contact.license_type }} {{ .Site.Data.profile.primary_contact.license_number }}</em>
      </div>
      <div class="column">
        <h4 class="subtitle is-6 has-text-weight-bold" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#a4a4a4"{{end}}>Contact</h4>
        {{ $footerContact := .Site.Data.profile.primary_contact }}
        {{ if gt ( len $footerContact.street_address ) 0 }}<p {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>{{ $footerContact.street_address }} {{ $footerContact.city }}, {{ $footerContact.state }} {{ $footerContact.zip_code }}</p>{{ end }}
        {{ if $footerContact.phone }}<p {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>Phone: <a href="tel:{{ $footerContact.phone }}" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>{{ $footerContact.phone }}</a></p>{{ end }}
        {{ if $footerContact.email }}<p {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>Email: <a href="mailto:{{ $footerContact.email }}" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>{{ $footerContact.email }}</a></p>{{ end }}

        {{ $footerSocial := .Site.Data.profile.social_accounts }}
        <ul class="footer-social">
          {{ with $footerSocial.facebook }}
          <li><a href="{{ . }}" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></i></a></li>
          {{end}}

          {{ with $footerSocial.instagram }}
          <li><a href="{{ . }}" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
          {{end}}

          {{ with $footerSocial.yelp }}
          <li><a href="{{ . }}" target="_blank" title="Yelp"><i class="fab fa-yelp"></i></a></li>
          {{end}}

          {{ with $footerSocial.linkedin }}
          <li><a href="{{ . }}" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
          {{end}}

          {{ with $footerSocial.pinterest }}
          <li><a href="{{ . }}" target="_blank" title="Pinterest"><i class="fab fa-pinterest-p"></i></a></li>
          {{end}}

          {{ with $footerSocial.twitter }}
          <li><a href="{{ . }}" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
          {{end}}

          {{ with $footerSocial.youtube }}
          <li><a href="{{ . }}" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
          {{end}}
        </ul>
      </div>
      <div class="column">
        <h4 class="subtitle is-6 has-text-weight-bold" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#a4a4a4"{{end}}>Quick Links</h4>
        <p><a href="/services" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>Services</a></p>
        <p><a href="/about" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>About</a></p>
        <p><a href="/contact" {{ if .Site.Data.design.footer.enable_black_text}}style="color:black"{{else}} style="color:#666666"{{end}}>Contact</a></p>
      </div>
    </div>
  </div>
</div>
    <div class="container">
        <hr style="background:#2c2c2c;">
        <div class="columns">
            <div class="column">
                <div class="bottom-credit">
                    <small>&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}</small> &middot; <a href="https://hungryram.com" target="_blank">Website Developed by Hungry Ram</a>
                  </div>
            </div>
            <div class="column has-text-right">
                <div class="footer-links">
                    <ul>
                        <li><a href="/terms-of-use">Terms of Use</a></li>
                        <li><a href="/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/accessibility">Accessibility</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</footer>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
        <script src="{{.Site.BaseURL}}/js/main.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/lax.js" ></script>
        <div id="snipcart" data-api-key="ZTNmNWJlMTEtODQxZC00YjA5LWJmM2MtYTdjYzY4MTc4ODI4NjM3MzIxNTgyMTQ5NTMwNDA5" hidden></div>
        <script src="https://cdn.snipcart.com/themes/v3.0.18/default/snipcart.js"></script>

        <script>
          window.onload = function() {
            lax.setup() // init
          
            const updateLax = () => {
              lax.update(window.scrollY)
              window.requestAnimationFrame(updateLax)
            }
          
            window.requestAnimationFrame(updateLax)

            lax.setup({
              breakpoints: { small: 0, large: 992 }
          })
          }



          // COLORS
          // SECONDARY BUTTON
          document.querySelectorAll(".secondary-btn").forEach(function(el) {
            el.style.color = '{{ .Site.Data.design.colors.text_link_colors }}';
          });
          // PRIMARY BUTTON
          document.querySelectorAll("a.main-btn").forEach(function(bg) {
            bg.style.backgroundColor = '{{ .Site.Data.design.colors.button_background_colors }}';
          });


        </script>
        <script>
            $(document).ready(function() {

            // Check for click events on the navbar burger icon
                $(".navbar-burger").click(function() {
                
                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    $(".navbar-burger").toggleClass("is-active");
                    $(".navbar-menu").toggleClass("is-active");
                
                });

                  $('.sub-menu').click(function(){
                  $('.sub', this).toggleClass('sub-active-menu');
                });

                //SUBSUB
                $('.subsub').click(function(){
                  $('.sub', this).toggleClass('sub-active-menu');
                });


                 var lastScrollTop = 0;
$(window).scroll(function(event){
   var st = $(this).scrollTop();
   if (st > lastScrollTop){
       $('header.navbar').addClass("animate__slideOutUp");
   } else {
    $('header.navbar').addClass("animate__fadeInDown");
    $('header.navbar').removeClass("animate__slideOutUp");
    $('.onscroll').removeClass("scroll-logo");
    $('.main-logo').addClass("scroll-logo");

   }

   $(window).scroll(function () {
    if ($(this).scrollTop()  <= 0 ){
      $('header.navbar').removeClass("animate__fadeInDown");
    $('.main-logo').removeClass("scroll-logo");
    $('.onscroll').addClass("scroll-logo");

    }
});

   lastScrollTop = st;
});
            });


            </script>

<script>
  (function($) {
    var size;
	
		//SMALLER HEADER WHEN SCROLL PAGE
    function smallerMenu() {
        var sc = $(window).scrollTop();
        if (sc > 40) {
            $('#header-scroll').addClass('small');
        }else {
            $('#header-scroll').removeClass('small');
        }
    }

    // VERIFY WINDOW SIZE
    function windowSize() {
        size = $(document).width();
        if (size >= 991) {
            $('body').removeClass('open-menu');
            $('.hamburger-menu .bar').removeClass('animate');
        }
    };

     // ESC BUTTON ACTION
    $(document).keyup(function(e) {
        if (e.keyCode == 27) {
            $('.bar').removeClass('animate');
            $('body').removeClass('open-menu');
            $('header .desk-menu .menu-container .menu .menu-item-has-children a ul').each(function( index ) {
                $(this).removeClass('open-sub');
            });
        }
    });

    $('#cd-primary-nav > li').hover(function() {
        $whidt_item = $(this).width();
        $whidt_item = $whidt_item-8;

        $prevEl = $(this).prev('li');
        $preWidth = $(this).prev('li').width();
        var pos = $(this).position();
        pos = pos.left+4;
        $('header .desk-menu .menu-container .menu>li.line').css({
            width:  $whidt_item,
            left: pos,
            opacity: 1
        });
    });

     // ANIMATE HAMBURGER MENU
    $('.hamburger-menu').on('click', function() {
        $('.hamburger-menu .bar').toggleClass('animate');
        if($('body').hasClass('open-menu')){
            $('body').removeClass('open-menu');
        }else{
            $('body').toggleClass('open-menu');
        }
    });

    $('header .desk-menu .menu-container .menu .menu-item-has-children ul').each(function(index) {
        $(this).append('<li class="back"><a href="#">Back</a></li>');
    });

    // RESPONSIVE MENU NAVIGATION
    $('header .desk-menu .menu-container .menu .menu-item-has-children > a').on('click', function(e) {
        e.preventDefault();
        if(size <= 1366){
            $(this).next('ul').addClass('open-sub');
        }
    });

    // CLICK FUNCTION BACK MENU RESPONSIVE
    $('header .desk-menu .menu-container .menu .menu-item-has-children ul .back').on('click', function(e) {
        e.preventDefault();
        $(this).parent('ul').removeClass('open-sub');
    });

    $('body .over-menu').on('click', function() {
        $('body').removeClass('open-menu');
        $('.bar').removeClass('animate');
    });

    $(document).ready(function(){
        windowSize();
    });

    $(window).scroll(function(){
        smallerMenu();
    });

    $(window).resize(function(){
        windowSize();
    });

})(jQuery);
</script>
<script>
  $('.other-products').slick({
    dots: true,
    infinite: false,
    speed: 1000,
    slidesToShow: 4,
    slidesToScroll: 4,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: true
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 2
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1
        }
      }
      // You can unslick at a given breakpoint now by adding:
      // settings: "unslick"
      // instead of a settings object
    ]
  });
</script>

<script type="text/javascript">
  var _userway_config = {
    /* uncomment the following line to override default position*/
    /* position: '3', */
    /* uncomment the following line to override default size (values: small, large)*/
    size: 'small',
    /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
    /* language: 'null', */
    /* uncomment the following line to override color set via widget (e.g., #053f67)*/
    /* color: '#2d68ff', */
    /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
    /* type: '1', */
    /* uncomment the following lines to override the accessibility statement*/
    /* statement_text: "Our Accessibility Statement", */
    /* statement_url: "http://www.example.com/accessibility", */
    /* uncomment the following line to override support on mobile devices*/
    /* mobile: true, */
    account: 'UNObHCcqLg'
  };
</script>
<script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
  </body>
</html>