{{ $footerImage := .Site.Data.home.top_footer_section }}
<div class="footer-image-wrapper" style="background:url({{ $footerImage.image }}) no-repeat center;background-size:cover;">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <div class="footer-image-text content">
                        <h2 class="title is-2 has-text-white">{{ $footerImage.slogan }}</h2>
                        <p class="has-text-white">{{ $footerImage.body_text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>