<div class="section">
    <div class="container">
        <div class="columns  has-text-centered">
            <div class="column">
                <div class="image-box-one" style="background: blue;padding: 30px;">
                    <h4 class="title is-4">Med Spa</h4>
                </div>
            </div>
            <div class="column">
                <div class="image-box-two" style="background: blue;padding: 30px;">
                    <h4 class="title is-4">Med Spa</h4>
                </div>
            </div>
            <div class="column">
                <div class="image-box-three" style="background: blue;padding: 30px;">
                    <h4 class="title is-4">Med Spa</h4>
                </div>
            </div>
        </div>
    </div>
</div>