{{  $imageOverlay := .Site.Data.home.image_overlay }}
<div class="section">
    <div class="container">
        <div class="columns is-vcentered is-gapless">
            <div class="column is-7">
                <div class="image-overlay">
                    <iframe style="width: 100%;height:500px" src="https://www.youtube.com/embed/ZWVE8YLTpUo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column">
                <div class="image-overlay-text lax mt-6" data-lax-preset_large="eager-200" data-lax-preset_small="eager-20">
                    <h2 class="title is-2">{{ $imageOverlay.heading }}</h2>
                    <p>{{ $imageOverlay.body_text }}</p>
                    <br>
                    <a href="{{ $imageOverlay.link }}" class="anchor-image-overlay"{{ if $imageOverlay.open_in_a_new_tab }}target="_blank"{{ end }}>{{ $imageOverlay.link_label }}</a>
                </div>
            </div>
        </div>
    </div>
</div>