{{  $imageOverlay := .Site.Data.home.image_overlay }}
<div class="section">
    <div class="container">
        <div class="columns is-vcentered is-gapless">
            <div class="column is-7">
                <div class="image-overlay">
                    <img src="{{ $imageOverlay.image }}" alt="" class="image">
                </div>
            </div>
            <div class="column">
                <div class="image-overlay-text lax mt-6" data-lax-preset="eager-200">
                    <h2 class="title is-2">{{ $imageOverlay.heading }}</h2>
                    <p>{{ $imageOverlay.body_text }}</p>
                    <br>
                    <a href="{{ $imageOverlay.link }}" class="anchor-image-overlay"{{ if $imageOverlay.open_in_a_new_tab }}target="_blank"{{ end }}>{{ $imageOverlay.link_label }}</a>
                </div>
            </div>
        </div>
    </div>
</div>