{{ $imageCta := .Site.Data.home.image_call_to_action }}
<div class="image-cta-wrapper lax" style="background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url({{ $imageCta.image }}) no-repeat center;background-size: cover;padding: 200px 0px;" data-lax-bg-pos-y="0 100, vh 30 900">
    <div class="section">
        <div class="container">
            <div class="columns has-text-white has-text-centered">
                <div class="column is-half is-offset-one-quarter">
                    <h2 class="title is-2 has-text-white">{{ $imageCta.heading }}</h2>
                    <p>{{ $imageCta.body_text }}</p>
                </div>
            </div>
        </div>
    </div>
</div>