{{ $blackMenu := $.Site.Data.design.colors.enable_black_menu_items }}
<header class="navbar animate__animated" style="{{ safeHTMLAttr (printf "background-color: %s" .Site.Data.design.colors.header_background_color) }}">
  
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="/">
              <img src="uploads/small-Beauty-Hydration_Blue_PNG" alt="" class="onscroll scroll-logo">
                  {{ with .Site.Data.design.logo_and_title.logo}}
              <img src="{{ . }}" alt="{{ $.Site.Data.profile.primary_company_name }}" class="main-logo">
                  {{ else }}
              <h1>{{ .Site.Data.design.logo_and_title.company_title }}</h1>
                  {{ end }}
            </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroC">
              <span {{ if not $.IsHome }}{{ if $blackMenu }}style="color: black"{{ end }}{{ else }}style="color: #ccc"{{end}}></span>
              <span {{ if not $.IsHome }}{{ if $blackMenu }}style="color: black"{{ end }}{{ else }}style="color: #ccc"{{end}}></span>
              <span {{ if not $.IsHome }}{{ if $blackMenu }}style="color: black"{{ end }}{{ else }}style="color: #ccc"{{end}}></span>
            </span>
            <div id="navbarMenuHeroC" class="navbar-menu" {{ if not $.IsHome }}{{ if $blackMenu }}style="color: black"{{ end }}{{ else }}style="color: #fff"{{end}}>
              <div class="navbar-end">
                <ul class="head-nav">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                      <li class="sub-menu{{if $currentPage.HasMenuCurrent "main" . }} active{{end}}">
                      <a href="javascript:;" class="parent-drop" {{ if not $.IsHome }}{{ if $blackMenu }}style="color: black"{{ end }}{{ else }}style="color: #fff"{{end}}>
                          {{ .Pre }}
                          <span>{{ .Name }}</span>
                          <i class="fas fa-caret-down dropdown-i"></i>
                      </a>
                      <ul class="sub">
                          {{ range .Children }}
                            <li class="subsub-menu">
                              <a href="{{ if .HasChildren }}javascript:;{{ else }}{{ .URL }}{{ end }}" {{ if .HasChildren }}class="parent-subsub"{{end}} style="color:black">{{ .Name }}</a>
                                {{ if .HasChildren }}
                                <ul class="subsub" style="background: #fff;">
                                  {{ range .Children }}
                                  <li><a href="{{ .URL }}" style="display: block;">{{ .Name }}</a></li>
                                  {{ end }}
                                </ul>
                                {{ end }}
                            </li>
                            {{ end }}
                      </ul>
                    {{else}}
                      <li>
                      <a href="{{.URL}}" class="nav-item"{{ if $blackMenu }}style="color: black"{{ else }}style="color: #fff"{{end}}>
                          {{ .Pre }}
                          <span>{{ .Name }}</span>
                      </a>
                    {{end}}
                    </li>
                    {{end}}
                  </div>
                </ul>
              </div>
            </div>
            <div class="right-nav">
              <ul>
                <li><a href="https://fhlny.myaestheticrecord.com/login" {{ if $blackMenu }}style="color: black"{{ else }}style="color: #fff"{{end}}>Login/Register</a></li>
                <li><a href="https://fhlny.myaestheticrecord.com/book/appointments" {{ if $blackMenu }}style="color: black"{{ else }}style="color: #fff"{{end}} class="booking" target="_blank">Book Now</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>