<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="welcome-text-container">
                    <h1 class="title is-4">Immune Boost, Headache Treatment, Lip Fillers, Sweaty Airpits and more</h1>
                </div>
            </div>
            <div class="column">
                <div class="welcome-text-container">
                    <h2 class="subtitle is-5">We make house calls</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur possimus voluptate doloremque magni nulla sint dignissimos tempora exercitationem facilis alias voluptatibus assumenda doloribus ullam, debitis sunt vitae fuga repudiandae animi?</p>
                </div>
            </div>
            <div class="column">
                <div class="welcome-text-container">
                    <h2 class="subtitle is-5">We make house calls</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur possimus voluptate doloremque magni nulla sint dignissimos tempora exercitationem facilis alias voluptatibus assumenda doloribus ullam, debitis sunt vitae fuga repudiandae animi?</p>
                </div>
            </div>
        </div>
    </div>
</div>