<div class="section">
    <div class="container">
        {{ $welcomeText := .Site.Data.home.welcome_text }}
        <div class="columns">
            <div class="column">
                <div class="welcome-text-container">
                    <h1 class="title is-2 has-text-weight-bold">{{ $welcomeText.main_title }}</h1>
                </div>
            </div>
            <div class="column">
                <div class="welcome-text-container">
                    <h2 class="subtitle is-5 has-text-weight-bold">{{ $welcomeText.first_intro_title }}</h2>
                    <p>{{ $welcomeText.first_introduction }}</p>
                </div>
            </div>
            <div class="column">
                <div class="welcome-text-container">
                    <h2 class="subtitle is-5 has-text-weight-bold">{{ $welcomeText.second_intro_title }}</h2>
                    <p>{{ $welcomeText.second_introduction }}</p>
                </div>
            </div>
        </div>
    </div>
</div>